<div
  class="container mx-auto d-flex justify-content-around flex-wrap"
  style="width: 95%"
>
  <div class="grid">
    <div class="g-col-6 g-col-md-4">
      <div class="card" style="width: 13rem">
        <img
          [src]="employees.first.imgSrc"
          class="card-img-top"
          [alt]="employees.first.alt"
        />
        <div class="card-body">
          <p class="card-text text-center">{{ employees.first.description }}</p>
        </div>
      </div>
    </div>
    <div class="g-col-6 g-col-md-4">
      <div class="card" style="width: 13rem">
        <img
          [src]="employees.second.imgSrc"
          class="card-img-top"
          [alt]="employees.second.alt"
        />
        <div class="card-body">
          <p class="card-text text-center">
            {{ employees.second.description }}
          </p>
        </div>
      </div>
    </div>
    <div class="g-col-6 g-col-md-4">
      <div class="card" style="width: 13rem">
        <img
          [src]="employees.third.imgSrc"
          class="card-img-top"
          [alt]="employees.third.alt"
        />
        <div class="card-body">
          <p class="card-text text-center">{{ employees.third.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mx-auto" style="width: 70%">
  <p class="lh-base">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
    quibusdam commodi illo sequi in exercitationem esse autem, voluptatem hic
    dolor quod quos dolorum nobis officia delectus pariatur ex ut perspiciatis.
    Quae consequatur nihil minus deserunt voluptate natus consectetur,
    cupiditate quia molestiae repellendus, cumque maiores minima quasi
    consequuntur. Perspiciatis sunt distinctio praesentium! Laborum maxime esse
    praesentium dolorum tempore, quaerat excepturi iure. Eveniet libero
    assumenda reiciendis, adipisci tempora ratione cupiditate. Velit itaque quas
    eligendi fuga voluptatem consequuntur quaerat doloremque sint nostrum nihil,
    esse laboriosam, dolorem quia corporis iure rem nobis sapiente magnam!
    Necessitatibus, quos modi unde esse voluptatem accusantium, eum vel deserunt
    dicta magni tempore fuga ex quibusdam ea? Quo officiis quos id doloribus
    labore, nam odit, quas incidunt maxime esse aspernatur?
  </p>
</div>
