<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="image.src" [alt]="image.src" height="200vh" />
    </div>
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste
        natus laboriosam explicabo modi, nam blanditiis doloribus consequatur
        odit similique ducimus dolor maxime voluptatum! Quam quia blanditiis
        nemo commodi vitae? Eius necessitatibus doloribus labore? Autem
        voluptatibus modi voluptatem officia, libero ex et quaerat aut magni
        harum blanditiis consectetur tempora perspiciatis? Totam alias tempore
        dicta quod natus, cupiditate consectetur quam veniam.
      </p>
    </div>
  </div>
</div>
