<div class="grid mx-auto" style="width: 95%">
  <div class="g-col-12 grid-col-fixed-100 g-start-2 g-col-md-2">
    <img [src]="image.src" [alt]="image.alt" width="100%" />
  </div>
  <div class="g-col-12 fs-6 g-col-md-8">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione iste
      natus laboriosam explicabo modi, nam blanditiis doloribus consequatur odit
      similique ducimus dolor maxime voluptatum! Quam quia blanditiis nemo
      commodi vitae? Eius necessitatibus doloribus labore? Autem voluptatibus
      modi voluptatem officia, libero ex et quaerat aut magni harum blanditiis
      consectetur tempora perspiciatis? Totam alias tempore dicta quod natus,
      cupiditate consectetur quam veniam.
    </p>
  </div>
</div>

<div class="container bg-secondary">
  <lib-employees></lib-employees>
</div>
