<nav
  class="navbar navbar-dark bg-warning rounded-bottom .mt-0 mx-auto mb-3 d-flex justify-content-center"
  style="width: 90%"
>
  <input type="checkbox" id="checkbox1" class="d-none" />
  <label for="checkbox1">
    <ul
      class="menu menu-sm demo p-0 m-0 d-flex justify-content-around align-items-center"
      style="width: 95vw"
    >
      <li class="nav-link">
        <a
          class="menu-link text-decoration-none fs-6 rounded p-2 text-white"
          routerLink="/"
          >HOME</a
        >
      </li>
      <li class="nav-link">
        <a
          class="menu-link text-decoration-none fs-6 rounded p-2 text-white"
          routerLink="about"
          >ABOUT</a
        >
      </li>
      <li class="nav-link">
        <a
          class="menu-link text-decoration-none fs-6 rounded p-2 text-white"
          routerLink="pracownik"
          >EMPLOYEES</a
        >
      </li>
      <li class="nav-link">
        <a
          class="menu-link text-decoration-none fs-6 rounded p-2 text-white"
          routerLink="kontakt"
          >KONTAKT</a
        >
      </li>
    </ul>
    <span
      class="toggle d-block d-sm-none fs-3 d-flex align-items-center justify-content-center rounded mx-auto mt-1 w-25"
      >☰</span
    >
  </label>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
