<div class="row">
  <div class="col-1 section--main">
    <h2 class="text-center logo fs-3">NAV</h2>
    <ul class="nav flex-column text-center">
      <li class="nav-item">
        <a class="nav-link active fs-5" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5" href="/about">About</a>
      </li>
    </ul>
  </div>
  <div class="col contenent"><router-outlet></router-outlet></div>
</div>

<!-- <div class="grid">
  <div class="g-col-4">.g-col-4</div>
  <div class="g-col-4">.g-col-4</div>
  <div class="g-col-4">.g-col-4</div>
</div>

<div class="grid" style="--bs-columns: 18; --bs-gap: 0.5rem">
  <div style="grid-column: span 14">14 columns</div>
  <div class="g-col-4">.g-col-4</div>
</div> -->
